.page-greece {
  background-image: url(../assets/Images/greece.jpg);
}

.page-hawaii {
  background-image: url(../assets/Images/hawaii.jpg);
}

.page-iceland {
  background-image: url(../assets/Images/iceland.jpg);
}

.itinerary-section {
  background-size: cover;
  background-position: center;
  margin-top: 3.75rem;
}

.itinerary-section h1 {
  color: white;
  font-size: 4.375rem;
  padding: 3.125rem 2.5rem 3.125rem 5rem;
  margin: 0;
}

.itinerary-section__cards-container {
  display: flex;
  justify-content: center;
}
.itinerary-section__card {
  height: 22.1875rem;
  width: 20%;
  background-color: white;
  margin: 0 1.25rem 7.5rem 1.25rem;
  border-radius: 0.3125rem;
}
.itinerary-section__card__title {
  color: black;
  border-bottom: 0.125rem solid black;
  text-align: center;
  margin: 0.9375rem;
}
.itinerary-section__card-description {
  background-color: #fefaf5;
  margin: 0.9375rem;
  padding: 0.9375rem;
  text-align: center;
}
.itinerary-section__card ul {
  padding: 0;
}
